.Form{
    padding: 40px 32px;
    margin: auto;
    color:#676F8F;
    max-width: 288px;
}
.Form__body{
    display: flex;
    flex-direction: column;
}
.Form__input{
    border: 1px solid #C5CBE0;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0;
    margin-top: 16px;
    padding: 16px;
    font-size: 16px;
    height: 56px;

    &::placeholder{
        color: #A3ABCC;
    }
    &:focus{
        outline: none;
    }
}
.Red{
    border: 1px solid #EF3340 !important;
    &::placeholder{
        color: #EF3340;
    }
}
.Form__Select_content{
    display: flex;
    border: 1px solid #C5CBE0;
    border-radius: 4px;
    margin-top: 24px;
    height: 56px;
    
    
    .Form__input{
        margin: 0;
        border-radius: 0;
        border-right: none;
        border-top: none;
        border-bottom: none;
    }
    select{
        padding-right: 20px;
    }
    input{
        border-left: 1px solid #C5CBE0 ;
        width: 100%;
    }
    #Red{
        border-left: 1px solid #EF3340 !important;
    }
}
.Form__clear{
    
    border: none;
    font-size: 16px;
}

.Form__Foot{
    
}
.Form__Foot__check{
    display: flex;
    margin-top: 24px;
    font-weight: 300;

    input{
        margin-top: 5px;
        margin-right: 17px;
    }

    span{
        font-size: 12px;
        line-height:20px;
        letter-spacing:0.2px
    }
}
.Form__Foot__Button{
    margin-top: 32px;
}
@media (min-width:1200px) {
    
}