.Header{
    padding: 20px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Header__left{
    display: flex;
    align-items: center;
    text-decoration: none;
    span{
        margin-right: 23px;
        text-align: right;
        letter-spacing: 0.2px;
        color: #676F8F;
    }
}
.Header__question{
    display: none;
}
.Header__call{
    
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-decoration: none;

    .Header__callus{
        margin-left: 8px;
        color: #6769FF;
    }
}
.abosulte{
    @extend .Header__call;
    position: absolute;
    z-index: 100;
    width: 100%;
    justify-content: space-between;
    padding:  24px 0px;
    
    #Header__logo{
        padding-left: 120px;
    }
    .Header__call{
        padding-right: 120px;
    }
}
.white{
    @extend .Header__call;
    justify-content: space-between;
    padding:  20px 32px;
    border-bottom: 1px solid #E4E8F7;
    
}

@media (min-width:760px){
    .Header__question{
        display: block;
    }
}