*{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

.text_primary{
    color:#494F66;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.2px;
    
}
.External_link{
    color: #676F8F;
    font-weight: 500;
}
.Vertical_separator{
    height: 16px;
    width: 1px;
    background: #E4E8F7;
    margin: 0 12px;
}

@media (min-width:1200px) {
    .text_primary{
        font-size: 28px;
        line-height: 36px;
    }
}